.fcontainer {
    display : flex ;
    flex-direction: row;
    width:100vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fitem {
    width:200px;
    height:200px;
    background-color:blueviolet;
    padding:20px;
    margin:20px;
    border:12px solid green;
    font-size: 20px;
    text-align: center;
}